<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/campuses">Campuses</a>
    <a href="/students">Students</a>
  </nav>
  {{!-- GOAL 1: implement /campuses to see all campuses --}}
  {{!-- GOAL 2: implement /students to see all students --}}
  {{!-- GOAL 3: in /students, try to display the campus of each student by using `.populate()` --}}

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>